/* ==UserStyle==
@name         Sendcloud Style
@namespace    github.com/greentradingxxl
@version      1.0.4
@description  Lock filters in Sendcloud
@updateURL    https://raw.githubusercontent.com/greentradingxxl/sendcloud-scripts/main/sendcloud-style.user.css
==/UserStyle== */



    button[id^="ui-filter-"] {
        pointer-events: none;
        opacity: 0.6;
    }

    #ui-filter-status_filter-main-btn::after {
        content: "🔒";
        margin-left: -5px;
    }

